.button {
  display: inline-block;
  position: relative;
  right: 6px;
  color: #333333;
  text-shadow: 0 1px 0 rgba(255,255,255, 0.8);
  text-decoration: none;
  text-align: center;
  padding: 12px 34px;
  font-size: 14px;
  font-weight: 600;
  font-family: helvetica, arial, sans-serif;
  border-radius: 6px;
  border: 1px solid #c0c0c0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-image: -webkit-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 50%,rgba(219,219,219,1) 100%);
  background-image: -moz-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 50%,rgba(219,219,219,1) 100%);
  background-image: -o-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 50%,rgba(219,219,219,1) 100%);
  background-image: -ms-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 50%,rgba(219,219,219,1) 100%);
  background-image: linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 50%,rgba(219,219,219,1) 100%);


}
.button:focus{
  border: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.button:active{
  -moz-box-shadow:inset -5px -1px 20px #e4e4e4;
  -webkit-box-shadow:inset -5px -1px 20px #e4e4e4;
  box-shadow:inset -5px -1px 20px #e4e4e4;
}
/*.button:active:after,.button:active:before {}*/

/* Back Button */
.button.back {
  border-left: none;
  padding: 12px 20px;
  left: 5px;
  outline: none;

}

.button.back:after {
  content: '';
  position: absolute;
  height: 48%;
  width: 15px;
  border-left: 1px solid #c0c0c0;

  background-image: -webkit-linear-gradient(top, rgba(219,219,219,0) 0%,rgba(219,219,219,0) 10%,rgba(240,240,240,0) 100%);
  background-image: -moz-linear-gradient(top, rgba(219,219,219,0) 0%,rgba(219,219,219,0) 10%,rgba(240,240,240,0) 100%);
  background-image: -o-linear-gradient(top, rgba(219,219,219,0) 0%,rgba(219,219,219,0) 10%,rgba(240,240,240,0) 100%);
  background-image: -ms-linear-gradient(top, rgba(219,219,219,0) 0%,rgba(219,219,219,0) 10%,rgba(240,240,240,0) 100%);
  background-image: linear-gradient(top, rgba(219,219,219,0) 0%,rgba(219,219,219,0) 10%,rgba(240,240,240,0) 100%);
  left: -5px;
  top: 1px;

  -webkit-transform: skew(-35deg, 0);
  -moz-transform: skew(-35deg, 0);
  -o-transform: skew(-35deg, 0);
  -ms-transform: skew(-35deg, 0);
  transform: skew(-35deg, 0);
}

.button.back:before {
  content: '';
  position: absolute;
  height: 48%;
  width: 15px;
  border-left: 1px solid #c0c0c0;
  bottom: 1px;
  left: -5px;

  -webkit-transform: skew(35deg, 0);
  -moz-transform: skew(35deg, 0);
  -o-transform: skew(35deg, 0);
  -ms-transform: skew(35deg, 0);
  transform: skew(35deg, 0);

  background-image: -webkit-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
  background-image: -moz-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
  background-image: -o-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
  background-image: -ms-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
  background-image: linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);

  -webkit-box-shadow: -2px 1px 2px rgba(100,100,100,0.1);
  box-shadow: -2px 1px 2px rgba(100,100,100,0.1);
}

/* Next Button */
.button.next {
  border-right: none;
  outline: none;

}

.button.next:after {
  content: '';
  position: absolute;
  height: 48%;
  width: 15px;
  border-right: 1px solid #c0c0c0;

  background-image: -webkit-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
  background-image: -moz-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
  background-image: -o-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
  background-image: -ms-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
  background-image: linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
  right: -5px;
  bottom: 1px;

  -webkit-transform: skew(-35deg, 0);
  -moz-transform: skew(-35deg, 0);
  -o-transform: skew(-35deg, 0);
  -ms-transform: skew(-35deg, 0);
  transform: skew(-35deg, 0);

/*-webkit-box-shadow: 2px 1px 2px rgba(100,100,100,0.1);
box-shadow: 2px 1px 2px rgba(100,100,100,0.1);*/
}

.button.next:before {
  content: '';
  position: absolute;

  background-image: -webkit-linear-gradient(top, rgba(219,219,219,0) 0%,rgba(240,240,240,0) 10%,rgba(240,240,240,1) 100%);
  background-image: -moz-linear-gradient(top, rgba(219,219,219,0) 0%,rgba(240,240,240,0) 10%,rgba(240,240,240,1) 100%);
  background-image: -o-linear-gradient(top, rgba(219,219,219,0) 0%,rgba(240,240,240,0) 10%,rgba(240,240,240,1) 100%);
  background-image: -ms-linear-gradient(top, rgba(219,219,219,0) 0%,rgba(240,240,240,0) 10%,rgba(240,240,240,1) 100%);
  background-image: linear-gradient(top, rgba(219,219,219,0) 0%,rgba(240,240,240,0) 10%,rgba(240,240,240,1) 100%);
  height: 48%;
  width: 15px;
  border-right: 1px solid #c0c0c0;
  top: 1px;
  right: -5px;

  -webkit-transform: skew(35deg, 0);
  -moz-transform: skew(35deg, 0);
  -o-transform: skew(35deg, 0);
  -ms-transform: skew(35deg, 0);
  transform: skew(35deg, 0);
}

/*---FIN ESTILOS PARA BOTONES SWIPE---*/