#show {
    width:200px;
    height:20px;
    padding:2px;
    margin: 0 auto;
    text-align: center;
    /*background:#40464b;*/
    /*border: 1px dotted red;*/
}

 

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 200;
    text-align: center;
    color: #333333;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:15px;
    height:15px;
    margin:0px 15px 0 0;
    vertical-align:middle;
    background:url(../images/check-mdpi.png) left top no-repeat;
    cursor:pointer;
    /*border: 1px solid #cccccc;*/
}

input[type="checkbox"]:checked + label span {
	width:15px;
    height:15px;
    background:url(../images/check-mdpi.png) -20px top no-repeat;
}
