    html,
    body {
    margin: 0;
    padding: 0;
    /*----The html and body elements cannot have any padding or margin.----*/
    }
    /*----ESTILOS DE TEXTO---*/
    p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #333333;
    padding: 0;
    margin-top:10px;
    text-decoration: none;
    }
    a{
    text-decoration: none;
    color: #333333;
    margin: 0 auto;
    outline:none;
    border:0;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 

    }
    b{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #333333;
    }
    h1{
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 100;
    color: #ffffff;
    padding: 15px 0 0 0;
    margin-top:0;
    }
    h2{
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 100;
    color: #333333;
    padding: 20px 0 0 0;
    margin-top:0;
    }
    h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #333333;
    padding-top: 20px;
    padding-bottom: 0;
    margin-top:0px;
    margin-bottom: 0;

    }
    h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
    padding: 0;
    margin-top:0px;
    line-height: 24px;
    }
    h6{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #333333;
    padding: 0;
    /*margin-top:0px;*/
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 0px;
    }
    span{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: #333333;
    }
    /*----FIN ESTILOS DE TEXTO---*/
    /*----ESTILOS FORMULARIO---*/
    fieldset
    {
    border: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    }
    .space{
    width: 400px;
    height: 40px;
    margin: 0 auto;
    }
    /*--------------------*/

    #inputs input
    {
    background: #f5f5f5 url(../images/login-sprite2.png) no-repeat;
    padding: 15px 15px 15px 40px;
    margin: 0 0 10px 0;
    width: 372px; /* 353 + 2 + 45 = 400 */
    border: 1px solid #cfcfcf;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 

    }

    #username
    {
    background-position: 10px 1px !important;
    }

    #email
    {
    background-position: 10px -98px !important;
    }
    #password {
    background-position: 10px -48px !important;
    }
	#password2 {
    background-position: 10px -48px !important;
    }
    #inputs input:focus
    {
    background-color: #fff;
    
    }

    /*--------------------*/
    #actions
    {
    border: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    }

    #submit
    {   
    background-color: #014ec9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0086c9), to(#014ec9));
    background-image: -webkit-linear-gradient(top, #0086c9, #014ec9);
    background-image: -moz-linear-gradient(top, #0086c9, #014ec9);
    background-image: -ms-linear-gradient(top, #0086c9, #014ec9);
    background-image: -o-linear-gradient(top, #0086c9, #014ec9);
    background-image: linear-gradient(top, #0086c9, #014ec9);

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    /*text-shadow: 0 1px 0 rgba(255,255,255,0.5);*/

    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    

    border-width: 1px;
    border-style: solid;
    border-color: #0066b5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #ffffff;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    }
    #submit.select-hero   {   
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    }

    #submit:active
    {   
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 

    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;    
    }

    #submit::-moz-focus-inner
    {
    border: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    }

    #actions a
    {
    color: #222222;    
    float: right;
    line-height: 50px;
    margin-right: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    outline: none;
    }

    /*--------------------*/

    /*----FIN ESTILOS FORMULARIO---*/
    #header{
    -moz-box-shadow:inset 0px -1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px -1px 0px 0px #ffffff;
    box-shadow:inset 0px -1px 0px 0px #ffffff;
    border-bottom: 1px solid #c1c1c1;
    background-color: #f0f0f0;
    }
    #footer{
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    border-top: 1px solid #c1c1c1;
    background-color: #f0f0f0;
    position: absolute;
    bottom: 0;
    }
    /*----ESTILO BOTONES DE CONTROL SWIPE---*/
    /*---ESTILOS PARA BOTONES SWIPE---*/

    .btn_back{
    display: block;
    width: 114px;
    height: 43px;
    float: left;
    margin-top: 12px;
    text-align: center;
    }
    .btn_next{
    display: block;
    width: 114px;
    height: 43px;
    float: right;
    margin-top: 12px;
    text-align: center;
    }
    .noaccount{
    display: block;
    width: auto;
    height: auto;
    float: right;
    margin-right: 15px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: #333333;
    }
    .account{
    display: block;
    width: auto;
    height: auto;
    float: right;
    margin-right: 15px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: #333333;
    }
    .button {
    display: inline-block;
    position: relative;
    right: 6px;
    color: #333333;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.8);
    text-decoration: none;
    text-align: center;
    padding: 12px 34px;
    font-size: 14px;
    font-weight: 600;
    font-family: helvetica, arial, sans-serif;
    border-radius: 6px;
    border: 1px solid #c0c0c0;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-image: -webkit-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 50%,rgba(219,219,219,1) 100%);
    background-image: -moz-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 50%,rgba(219,219,219,1) 100%);
    background-image: -o-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 50%,rgba(219,219,219,1) 100%);
    background-image: -ms-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 50%,rgba(219,219,219,1) 100%);
    background-image: linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 50%,rgba(219,219,219,1) 100%);


    }
    .button:focus{
    border: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    }

    .button:active{
    -moz-box-shadow:inset -5px -1px 20px #e4e4e4;
    -webkit-box-shadow:inset -5px -1px 20px #e4e4e4;
    box-shadow:inset -5px -1px 20px #e4e4e4;
    }
    /*.button:active:after,.button:active:before {}*/

    /* Back Button */
    .button.back {
    border-left: none;
    padding: 12px 20px;
    left: 5px;
    outline: none; 

    }

    .button.back:after {
    content: '';
    position: absolute;
    height: 48%;
    width: 15px;
    border-left: 1px solid #c0c0c0;

    background-image: -webkit-linear-gradient(top, rgba(219,219,219,0) 0%,rgba(219,219,219,0) 10%,rgba(240,240,240,0) 100%);
    background-image: -moz-linear-gradient(top, rgba(219,219,219,0) 0%,rgba(219,219,219,0) 10%,rgba(240,240,240,0) 100%);
    background-image: -o-linear-gradient(top, rgba(219,219,219,0) 0%,rgba(219,219,219,0) 10%,rgba(240,240,240,0) 100%);
    background-image: -ms-linear-gradient(top, rgba(219,219,219,0) 0%,rgba(219,219,219,0) 10%,rgba(240,240,240,0) 100%);
    background-image: linear-gradient(top, rgba(219,219,219,0) 0%,rgba(219,219,219,0) 10%,rgba(240,240,240,0) 100%);
    left: -5px;
    top: 1px;

    -webkit-transform: skew(-35deg, 0);
    -moz-transform: skew(-35deg, 0);
    -o-transform: skew(-35deg, 0);
    -ms-transform: skew(-35deg, 0);
    transform: skew(-35deg, 0);
    }

    .button.back:before {
    content: '';
    position: absolute;
    height: 48%;
    width: 15px;
    border-left: 1px solid #c0c0c0;
    bottom: 1px;
    left: -5px;

    -webkit-transform: skew(35deg, 0);
    -moz-transform: skew(35deg, 0);
    -o-transform: skew(35deg, 0);
    -ms-transform: skew(35deg, 0);
    transform: skew(35deg, 0);

    background-image: -webkit-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
    background-image: -moz-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
    background-image: -o-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
    background-image: -ms-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
    background-image: linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);

    -webkit-box-shadow: -2px 1px 2px rgba(100,100,100,0.1);
    box-shadow: -2px 1px 2px rgba(100,100,100,0.1);
    }

    /* Next Button */
    .button.next {
    border-right: none;
    outline: none; 

    }

    .button.next:after {
    content: '';
    position: absolute;
    height: 48%;
    width: 15px;
    border-right: 1px solid #c0c0c0;

    background-image: -webkit-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
    background-image: -moz-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
    background-image: -o-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
    background-image: -ms-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
    background-image: linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
    right: -5px;
    bottom: 1px;

    -webkit-transform: skew(-35deg, 0);
    -moz-transform: skew(-35deg, 0);
    -o-transform: skew(-35deg, 0);
    -ms-transform: skew(-35deg, 0);
    transform: skew(-35deg, 0);

    /*-webkit-box-shadow: 2px 1px 2px rgba(100,100,100,0.1);
    box-shadow: 2px 1px 2px rgba(100,100,100,0.1);*/
    }

    .button.next:before {
    content: '';
    position: absolute;

    background-image: -webkit-linear-gradient(top, rgba(219,219,219,0) 0%,rgba(240,240,240,0) 10%,rgba(240,240,240,1) 100%);
    background-image: -moz-linear-gradient(top, rgba(219,219,219,0) 0%,rgba(240,240,240,0) 10%,rgba(240,240,240,1) 100%);
    background-image: -o-linear-gradient(top, rgba(219,219,219,0) 0%,rgba(240,240,240,0) 10%,rgba(240,240,240,1) 100%);
    background-image: -ms-linear-gradient(top, rgba(219,219,219,0) 0%,rgba(240,240,240,0) 10%,rgba(240,240,240,1) 100%);
    background-image: linear-gradient(top, rgba(219,219,219,0) 0%,rgba(240,240,240,0) 10%,rgba(240,240,240,1) 100%);
    height: 48%;
    width: 15px;
    border-right: 1px solid #c0c0c0;
    top: 1px;
    right: -5px;

    -webkit-transform: skew(35deg, 0);
    -moz-transform: skew(35deg, 0);
    -o-transform: skew(35deg, 0);
    -ms-transform: skew(35deg, 0);
    transform: skew(35deg, 0);
    }

    /*---FIN ESTILOS PARA BOTONES SWIPE---*/

