      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
    }

    /* Wrapper for page content to push down footer */
    #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
    }

    /* Set the fixed height of the footer here */
    #push{
        height: 60px;
    }
    #footer {
        height: 69px;
    }
    #footer {
        -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
        -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        border-top: 1px solid #c1c1c1;
        background-color: #f0f0f0;
    }

    /* Lastly, apply responsive CSS fixes as necessary */
    @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
      }
  }



      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      .container {
        width: auto;
        max-width: 480px;
    }
    #footer .container {
        width: auto;
        max-width: 480px;
        text-align: center;
        margin:10px auto ;
    }
    .container .credit {
        margin: 20px 0;
    }

/*----BOTONES SLIDER----*/
.button {
    display: inline-block;
    position: relative;
    color: #888;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.8);
    text-decoration: none;
    text-align: center;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 700;
    font-family: helvetica, arial, sans-serif;
    border-radius: 4px;
    border: 1px solid #bcbcbc;

    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);

    background-image: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: -moz-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
}

.button:hover {
    color: #555;
}

.button:active,.button:active:after,.button:active:before {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.button.back {
    border-left: none;
    left: -150px;
}

.button.back:after {
    content: '';
    position: absolute;
    height: 50%;
    width: 15px;
    border-left: 1px solid #bcbcbc;

    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
    background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
    background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
    background-image: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
    background-image: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
    left: -5px;
    top: 1px;

    -webkit-transform: skew(-35deg, 0);
    -moz-transform: skew(-35deg, 0);
    -o-transform: skew(-35deg, 0);
    -ms-transform: skew(-35deg, 0);
    transform: skew(-35deg, 0);
}

.button.back:before {
    content: '';
    position: absolute;
    height: 48%;
    width: 15px;
    border-left: 1px solid #bcbcbc;
    bottom: 1px;
    left: -5px;

    -webkit-transform: skew(35deg, 0);
    -moz-transform: skew(35deg, 0);
    -o-transform: skew(35deg, 0);
    -ms-transform: skew(35deg, 0);
    transform: skew(35deg, 0);

    background-image: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
    background-image: -moz-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
    background-image: -o-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
    background-image: -ms-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
    background-image: linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);

    -webkit-box-shadow: -2px 1px 2px rgba(100,100,100,0.1);
    box-shadow: -2px 1px 2px rgba(100,100,100,0.1);
}

/* Next Button */
.button.next {
    border-right: none;
    right: -150px;
}

.button.next:after {
    content: '';
    position: absolute;
    height: 48%;
    width: 15px;
    border-right: 1px solid #bcbcbc;

    background-image: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
    background-image: -moz-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
    background-image: -o-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
    background-image: -ms-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
    background-image: linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
    right: -5px;
    bottom: 1px;

    -webkit-transform: skew(-35deg, 0);
    -moz-transform: skew(-35deg, 0);
    -o-transform: skew(-35deg, 0);
    -ms-transform: skew(-35deg, 0);
    transform: skew(-35deg, 0);

    -webkit-box-shadow: 2px 1px 2px rgba(100,100,100,0.1);
    box-shadow: 2px 1px 2px rgba(100,100,100,0.1);
}

.button.next:before {
    content: '';
    position: absolute;

    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
    background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
    background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
    background-image: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
    background-image: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
    height: 50%;
    width: 15px;
    border-right: 1px solid #bcbcbc;
    top: 1px;
    right: -5px;

    -webkit-transform: skew(35deg, 0);
    -moz-transform: skew(35deg, 0);
    -o-transform: skew(35deg, 0);
    -ms-transform: skew(35deg, 0);
    transform: skew(35deg, 0);
}

/*----BOTONES SLIDER----*/
