/*----ESTILOS DE TEXTO---*/
p{
  font-size: 12px;
}
b{
  font-size: 12px;
}
h1{
  font-size: 10px;
  padding: 20px 0 0 0;
}
h2{
  font-size: 10px;
}
h4{
  font-size: 0.625em;
  font-weight: 280;
  padding-top: 8px;
  line-height: 12px; 
}
h5{
  font-size: 12px;
}
h6{
  font-size: 10px;
  font-weight: 200;
  line-height: 12px;
}
span{
  font-size: 12px;
}
#inputs input{
  font-size: 12px;
}
#inputs input:focus{
  border-color: #e8c291;
  outline: none;
  -moz-box-shadow: 0 0 0 1px #e8c291 inset;
  -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
  box-shadow: 0 0 0 1px #e8c291 inset;
}
#submit
{
  height: 50px;
  padding: 0;
  width: 430px;
  cursor: pointer;
  font-size: 18px;
}
#submit.select-hero{
  width: 370px;
}
#actions a{
  color: #222222;    
  float: right;
  line-height: 50px;
  margin-right: 25px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
}
#wrap {
  height: 800px;
  width:480px;
  min-width: 480px;
  margin: 0 auto;
  }
#push{
  height: 60px;
}
.container {
  width: 210px;
  height: 225px;
  margin:0 auto;
}
.central{
  width: 480px;
  height: 731px;
}
.central_config{
  width: 200px;
  height: 225px;
}
.central.welcome{
  background-image: url(../images/01_welcome.jpg);
}
.ninja{
  background-image: url(../images/02_ninja.jpg);
  width: 400px;
  height: 440px;
  margin: 0 auto;
}
.agent{
  background-image: url(../images/03_agent.jpg);
  width: 400px;
  height: 440px;
  margin: 0 auto;
}
.cpanel{
  background-image: url(../images/04_cpanel.jpg);
  width: 400px;
  height: 440px;
  margin: 0 auto;  
}
.capture{
  background-image: url(../images/07_capture.jpg);
  width: 400px;
  height: 420px;
  margin:0 auto;
}
.sim_change{
  background-image: url(../images/08_sim-ldpi.jpg);
  width: 150px;
  height: 165px;
  margin:0 auto;

}
.hero{
  background-image: url(../images/09_hero.jpg);
  width: 400px;
  height: 420px;
  margin:0 auto;
}
.uninstall{
  background-image: url(../images/10_uninstall.jpg);
  width: 400px;
  height: 440px;
  margin:0 auto;
}
/*---- FIN ESTILOS FONDOS SWIPE HTML---*/
#header{
  margin-bottom: 0px;
  height: 30px;
  width: 100%;
  text-align: center;
}
#footer{
  height: 36px;
  width: 100%;
  text-align: center;
}
.wrap_actions{
  display: block;
  width: 220px;
  height: 36px;
  margin:0 auto;
}
/*----ESTILO BOTONES DE CONTROL SWIPE---*/

/*---ESTILOS CIRCULOS SLIDER---*/
.wrap_circles{
  width: auto;
  height: auto;
  float: left;
  margin-top: 28px;
  margin-left: 78px;
}
.wrap_circles ul{
  margin: 0;
  padding: 0;
}
.wrap_circles li{
  margin: 0;
  padding: 0;
  float: left;
  margin-left: 8px;
}
.circle.on {
  display: block;
  width: 10px;
  height: 10px;
  background: #323536;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
.circle.off{
  display: block;
  width: 10px;
  height: 10px;
  background: #adadad;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
/*---FIN ESTILOS CIRCULOS SLIDER---*/
/*---ESTILOS PARA BOTONES SWIPE---*/
.btn_back{
  width: 80px;
  height: 30px;
  margin-top: 6px;
}
.btn_next{
  width: 80px;
  height: 30px;
  margin-top: 6px;
}
.button {
  padding: 4px 8px;
  font-size: 12px;
}
.button:hover {
  color: #555;
}
.button:active,.button:active:after,.button:active:before {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* Back Button */
.button.back {
  padding: 4px 8px;
}