      html,
      body {
        margin: 0;
        padding: 0;
        /*----The html and body elements cannot have any padding or margin.----*/
      }

      /* Wrapper for page content to push down footer */

      /*----ESTILOS DE TEXTO---*/
      p{
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        font-weight: 600;
        color: #333333;
        padding: 0;
        margin-top:10px;
        text-decoration: none;
      }
      a{
        text-decoration: none;
        color: #333333;
        margin: 0 auto;
      }
      b{
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        font-weight: 700;
        color: #333333;
      }
      h1{
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-size: 10px;
        font-weight: 100;
        color: #ffffff;
        padding: 20px 0 0 0;
        margin-top:0;
      }
      h2{
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-size: 10px;
        font-weight: 100;
        color: #333333;
        padding: 20px 0 0 0;
        margin-top:0;
      }
      h4{
       font-family: 'Open Sans', sans-serif;
       font-size: 0.625em;
       font-weight: 280;
       text-align: center;
       color: #333333;
       padding-top: 8px;
       margin-top:0px;
       line-height: 12px; 
     }
     h5{
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      font-weight: 300;
      text-align: center;
      color: #ffffff;
      padding: 0;
      margin-top:0px;
      line-height: 24px;
    }
    h6{
      font-family: 'Open Sans', sans-serif;
      font-size: 10px;
      font-weight: 200;
      text-align: center;
      color: #333333;
      padding: 0;
      /*margin-top:0px;*/
      line-height: 12px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    span{
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      font-weight: 300;
      text-align: center;
      color: #333333;
    }
    /*----FIN ESTILOS DE TEXTO---*/

    /*----ESTILOS FORMULARIO---*/
    fieldset
    {
      border: 0;
      padding: 0;
      margin: 0;
      text-align: center;
    }
    .space{
      width: 400px;
      height: 40px;
      margin: 0 auto;
    }
    /*--------------------*/

    #inputs input
    {
      background: #f5f5f5 url(../images/login-sprite2.png) no-repeat;
      padding: 15px 15px 15px 40px;
      margin: 0 0 10px 0;
      width: 372px; /* 353 + 2 + 45 = 400 */
      border: 1px solid #cfcfcf;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      font-weight: 400;

    }

    #username
    {
      background-position: 10px 1px !important;
    }

    #email
    {
      background-position: 10px -98px !important;
    }
    #password {
      background-position: 10px -48px !important;
    }

    #inputs input:focus
    {
      background-color: #fff;
      border-color: #e8c291;
      outline: none;
      -moz-box-shadow: 0 0 0 1px #e8c291 inset;
      -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
      box-shadow: 0 0 0 1px #e8c291 inset;
    }

    /*--------------------*/
    #actions
    {
     border: 0;
     padding: 0;
     margin: 0;
     text-align: center;
   }

   #submit
   {   
    background-color: #014ec9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0086c9), to(#014ec9));
    background-image: -webkit-linear-gradient(top, #0086c9, #014ec9);
    background-image: -moz-linear-gradient(top, #0086c9, #014ec9);
    background-image: -ms-linear-gradient(top, #0086c9, #014ec9);
    background-image: -o-linear-gradient(top, #0086c9, #014ec9);
    background-image: linear-gradient(top, #0086c9, #014ec9);

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    /*text-shadow: 0 1px 0 rgba(255,255,255,0.5);*/

    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    

    border-width: 1px;
    border-style: solid;
    border-color: #0066b5;
    height: 50px;
    padding: 0;
    width: 430px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
  }
  #submit.select-hero   {   
    width: 370px;
  }

  #submit:active
  {   
    outline: none;

    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;    
  }

  #submit::-moz-focus-inner
  {
    border: none;
  }

  #actions a
  {
    color: #222222;    
    float: right;
    line-height: 50px;
    margin-right: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
  }

  /*--------------------*/

  /*----FIN ESTILOS FORMULARIO---*/

  #wrap {
    height: 800px;
    width:480px;
    min-width: 480px;
    /* Negative indent footer by it's height */
    margin: 0 auto;
  }

  /* Set the fixed height of the footer here */
  #push{
    height: 60px;
  }
  .container {
    width: 210px;
    height: 225px;
    margin:0 auto;
  }
  .central{
    width: 480px;
    height: 731px;
  }
  .central_config{
    width: 200px;
    height: 225px;
    /*border: 1px dotted red;*/
  }
  /*---- ESTILOS FONDOS SWIPE HTML---*/
  .central.welcome{
    background-image: url(../images/01_welcome.jpg);
  }

  .ninja{
    background-image: url(../images/02_ninja.jpg);
    width: 400px;
    height: 440px;
    margin: 0 auto;

  }
  .agent{
    background-image: url(../images/03_agent.jpg);
    width: 400px;
    height: 440px;
    margin: 0 auto;
  }
  .cpanel{
    background-image: url(../images/04_cpanel.jpg);
    width: 400px;
    height: 440px;
    margin: 0 auto;  
  }
  .capture{
    background-image: url(../images/07_capture.jpg);
    width: 400px;
    height: 420px;
    margin:0 auto;

  }
  .sim_change{
   background-image: url(../images/08_sim-ldpi.jpg);
   width: 150px;
   height: 165px;
   margin:0 auto;

 }
 .hero{
   background-image: url(../images/09_hero.jpg);
   width: 400px;
   height: 420px;
   margin:0 auto;
 }
 .uninstall{
   background-image: url(../images/10_uninstall.jpg);
   width: 400px;
   height: 440px;
   margin:0 auto;

 }
 /*---- FIN ESTILOS FONDOS SWIPE HTML---*/
 #header{
  margin-bottom: 0px;
  height: 30px;
  width: 100%;
  text-align: center;
  -moz-box-shadow:inset 0px -1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px -1px 0px 0px #ffffff;
  box-shadow:inset 0px -1px 0px 0px #ffffff;
  border-bottom: 1px solid #c1c1c1;
  background-color: #f0f0f0;
}
#footer{
  height: 36px;
  width: 100%;
  text-align: center;
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  border-top: 1px solid #c1c1c1;
  background-color: #f0f0f0;
  position: absolute;
  bottom: 0;
}
.wrap_actions{
  display: block;
  width: 220px;
  height: 36px;
  margin:0 auto;
  /*border:1px dotted red;*/
}
/*----ESTILO BOTONES DE CONTROL SWIPE---*/

/*---ESTILOS CIRCULOS SLIDER---*/
.wrap_circles{
  /*border: 1px dotted red;*/
  width: auto;
  height: auto;
  float: left;
  margin-top: 28px;
  margin-left: 78px;
}
.wrap_circles ul{
  margin: 0;
  padding: 0;

}
.wrap_circles li{
  margin: 0;
  padding: 0;
  float: left;
  margin-left: 8px;

}
.circle.on {
  display: block;
  width: 10px;
  height: 10px;
  background: #323536;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
.circle.off{
  display: block;
  width: 10px;
  height: 10px;
  background: #adadad;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

/*---FIN ESTILOS CIRCULOS SLIDER---*/


/*---ESTILOS PARA BOTONES SWIPE---*/

.btn_back{
  display: block;
  width: 80px;
  height: 30px;
  float: left;
  margin-top: 6px;
  text-align: center;
}
.btn_next{
  display: block;
  width: 80px;
  height: 30px;
  float: right;
  margin-top: 6px;
  text-align: center;
}
.noaccount{
  display: block;
  width: auto;
  height: auto;
  float: right;
  margin-right: 15px;
  margin-top: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #333333;
}
.button {
  display: inline-block;
  position: relative;
  right: 6px;
  color: #333333;
  text-shadow: 0 1px 0 rgba(255,255,255, 0.8);
  text-decoration: none;
  text-align: center;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 600;
  font-family: helvetica, arial, sans-serif;
  border-radius: 6px;
  border: 1px solid #c0c0c0;

  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-image: -webkit-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 50%,rgba(219,219,219,1) 100%);
  background-image: -moz-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 50%,rgba(219,219,219,1) 100%);
  background-image: -o-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 50%,rgba(219,219,219,1) 100%);
  background-image: -ms-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 50%,rgba(219,219,219,1) 100%);
  background-image: linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 50%,rgba(219,219,219,1) 100%);
}

.button:hover {
  color: #555;
}

.button:active,.button:active:after,.button:active:before {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Back Button */
.button.back {
  border-left: none;
  padding: 4px 8px;
  left: 5px;
}

.button.back:after {
  content: '';
  position: absolute;
  height: 48%;
  width: 15px;
  border-left: 1px solid #c0c0c0;

  background-image: -webkit-linear-gradient(top, rgba(219,219,219,0) 0%,rgba(219,219,219,0) 10%,rgba(240,240,240,0) 100%);
  background-image: -moz-linear-gradient(top, rgba(219,219,219,0) 0%,rgba(219,219,219,0) 10%,rgba(240,240,240,0) 100%);
  background-image: -o-linear-gradient(top, rgba(219,219,219,0) 0%,rgba(219,219,219,0) 10%,rgba(240,240,240,0) 100%);
  background-image: -ms-linear-gradient(top, rgba(219,219,219,0) 0%,rgba(219,219,219,0) 10%,rgba(240,240,240,0) 100%);
  background-image: linear-gradient(top, rgba(219,219,219,0) 0%,rgba(219,219,219,0) 10%,rgba(240,240,240,0) 100%);
  left: -5px;
  top: 1px;

  -webkit-transform: skew(-35deg, 0);
  -moz-transform: skew(-35deg, 0);
  -o-transform: skew(-35deg, 0);
  -ms-transform: skew(-35deg, 0);
  transform: skew(-35deg, 0);
}

.button.back:before {
  content: '';
  position: absolute;
  height: 48%;
  width: 15px;
  border-left: 1px solid #c0c0c0;
  bottom: 1px;
  left: -5px;

  -webkit-transform: skew(35deg, 0);
  -moz-transform: skew(35deg, 0);
  -o-transform: skew(35deg, 0);
  -ms-transform: skew(35deg, 0);
  transform: skew(35deg, 0);

  background-image: -webkit-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
  background-image: -moz-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
  background-image: -o-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
  background-image: -ms-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
  background-image: linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);

  -webkit-box-shadow: -2px 1px 2px rgba(100,100,100,0.1);
  box-shadow: -2px 1px 2px rgba(100,100,100,0.1);
}

/* Next Button */
.button.next {
  border-right: none;
}

.button.next:after {
  content: '';
  position: absolute;
  height: 48%;
  width: 15px;
  border-right: 1px solid #c0c0c0;

  background-image: -webkit-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
  background-image: -moz-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
  background-image: -o-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
  background-image: -ms-linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
  background-image: linear-gradient(top, rgba(240,240,240,0) 0%,rgba(240,240,240,0) 10%,rgba(219,219,219,1) 100%);
  right: -5px;
  bottom: 1px;

  -webkit-transform: skew(-35deg, 0);
  -moz-transform: skew(-35deg, 0);
  -o-transform: skew(-35deg, 0);
  -ms-transform: skew(-35deg, 0);
  transform: skew(-35deg, 0);

      /*-webkit-box-shadow: 2px 1px 2px rgba(100,100,100,0.1);
      box-shadow: 2px 1px 2px rgba(100,100,100,0.1);*/
    }

    .button.next:before {
      content: '';
      position: absolute;

      background-image: -webkit-linear-gradient(top, rgba(219,219,219,0) 0%,rgba(240,240,240,0) 10%,rgba(240,240,240,1) 100%);
      background-image: -moz-linear-gradient(top, rgba(219,219,219,0) 0%,rgba(240,240,240,0) 10%,rgba(240,240,240,1) 100%);
      background-image: -o-linear-gradient(top, rgba(219,219,219,0) 0%,rgba(240,240,240,0) 10%,rgba(240,240,240,1) 100%);
      background-image: -ms-linear-gradient(top, rgba(219,219,219,0) 0%,rgba(240,240,240,0) 10%,rgba(240,240,240,1) 100%);
      background-image: linear-gradient(top, rgba(219,219,219,0) 0%,rgba(240,240,240,0) 10%,rgba(240,240,240,1) 100%);
      height: 48%;
      width: 15px;
      border-right: 1px solid #c0c0c0;
      top: 1px;
      right: -5px;

      -webkit-transform: skew(35deg, 0);
      -moz-transform: skew(35deg, 0);
      -o-transform: skew(35deg, 0);
      -ms-transform: skew(35deg, 0);
      transform: skew(35deg, 0);
    }

    /*---FIN ESTILOS PARA BOTONES SWIPE---*/

