<?xml version="1.0" encoding="utf-8"?>
<!--
  Created by Carlos Yaconi
  Copyright 2012 Fork Ltd. All rights reserved.
  License: GPLv3
  Full license at "/LICENSE"
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prey"
    android:installLocation="internalOnly"
    android:versionCode="102"
    android:versionName="1.2.6" >

    
    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="19" />

    <!-- Only this application can receive the messages and registration result -->
    <permission
        android:name="com.prey.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.prey.permission.C2D_MESSAGE" />

    <uses-feature android:name="android.hardware.location.network" android:required="true" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.location" android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    
    <uses-feature android:name="android.hardware.camera" android:required="false" />
 	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
 	<uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
 	<uses-feature android:name="android.hardware.camera.front" android:required="false"/>
 
 	<uses-feature android:name="android.hardware.microphone" android:required="false" />
 	
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    
    
 
    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACTION_SHUTDOWN" />
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.RECEIVE_MMS" />
	
	
	<uses-permission android:name="android.permission.BIND_DEVICE_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- GCM requires a Google account. -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- This app has permission to register and receive message -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
 
 	<!-- This app has permission to camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    
    
    <uses-permission android:name="android.permission.USES_POLICY_FORCE_LOCK" /> 
    


     
     
     
    <application
        android:name="com.prey.PreyApp"
        android:icon="@drawable/logo"
        android:label="@string/preyForAndroid_name"
        android:theme="@style/PreyTheme"
        android:configChanges="keyboardHidden|orientation"
		android:screenOrientation="portrait"
		android:allowBackup="false" >


        <!-- Activities -->
        <activity
            android:name="com.prey.activities.LoginActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/preyForAndroid_name"
            android:launchMode="singleInstance" 
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.prey.activities.WelcomeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.prey.activities.WelcomeBatchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.prey.activities.CheckPasswordActivity"
            android:launchMode="singleInstance"
            android:noHistory="true" 
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.prey.activities.PreyConfigurationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoTitleBar" />
            />
        <activity
            android:name="com.prey.activities.PopUpAlertActivity"
            android:screenOrientation="portrait"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/preyForAndroid_name"
            android:launchMode="singleTask" />
        <activity
            android:name="com.prey.activities.FeedbackActivity"
            android:screenOrientation="portrait"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/preyForAndroid_name"
            android:launchMode="singleTask" />
        
        <activity
            android:name="com.prey.activities.FormFeedbackActivity"
            android:screenOrientation="portrait"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/preyForAndroid_name"
            android:launchMode="singleTask" />
        
        <activity
            android:name="com.prey.activities.CameraActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:label="@string/preyForAndroid_name"
            android:launchMode="singleTask" />       
        <activity
            android:name="com.prey.activities.SMSContactActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.prey.activities.SEND_SMS_CONF" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.prey.activities.CreateAccountActivity"
            android:configChanges="keyboardHidden|orientation"
 			android:windowSoftInputMode="stateHidden|adjustResize"
 			android:screenOrientation="portrait" />
        <activity
            android:name="com.prey.activities.AddDeviceToAccountActivity"
            android:configChanges="keyboardHidden|orientation"
    		android:windowSoftInputMode="stateHidden|adjustResize"
    		android:screenOrientation="portrait" />
        <activity
            android:name="com.prey.activities.CongratulationsActivity"
            android:configChanges="keyboardHidden|orientation"
			android:screenOrientation="portrait" />   
       <activity
            android:name="com.prey.activities.DisableButtonActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" /> 
        <activity
            android:name="com.prey.activities.SimpleCameraActivity"
            android:theme="@style/Theme.Transparent" 
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.prey.activities.SimpleVideoActivity"
             android:theme="@style/Theme.Transparent" 
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" /> 
        <activity
            android:name="com.prey.activities.VideoActivity"
            android:theme="@style/Theme.Transparent" 
            android:configChanges="keyboardHidden|orientation" /> 
        <activity
            android:name="com.prey.activities.PermissionInformationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.prey.activities.PermissionInformationBatchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.prey.activities.StatusActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="com.prey.activities.StatusActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.prey.activities.AgreementDialogActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <!-- Services -->
        <service android:name="com.prey.services.LocationService" />
        <service android:name="com.prey.services.PreyBootService" />
        <service android:name="com.prey.services.PreyRunnerService" />
        <service android:name="com.prey.services.PreyDisablePowerOptionsService" />
        <service android:name="com.prey.beta.services.PreyBetaRunnerService" />
        <service android:name="com.prey.actions.report.ReportService" />
        
        <!-- Receivers -->
        <receiver android:name="com.prey.receivers.SmsReceiver">
            <intent-filter android:priority="2147483647" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.prey.receivers.PreyBootController"
            android:enabled="true"
            android:exported="false"
            android:label="PreyBootController" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.prey.receivers.PreyShutdownReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="PreyShutdownReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.prey.receivers.PreyDeviceAdmin"
            android:description="@string/device_admin_description"
            android:label="@string/device_admin_label"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/security_policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.ACTION_PASSWORD_SUCCEEDED" />
                <action android:name="android.app.action.ACTION_PASSWORD_CHANGED" />
                <action android:name="android.app.action.ACTION_PASSWORD_FAILED" />
                <action android:name="android.app.action.ACTION_DEVICE_ADMIN_DISABLE_REQUESTED" />
                <action android:name="android.app.action.ACTION_DEVICE_ADMIN_DISABLED" />
            </intent-filter>
        </receiver>
         
        <receiver android:name="com.prey.receivers.PreyOutgoingCallReceiver">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.media.VOLUME_CHANGED_ACTION" />
            </intent-filter>
        </receiver>
       
        
        <receiver android:name="com.prey.receivers.PreyDisablePowerOptionsReceiver">
            <intent-filter>
                <action android:name="android.intent.action.CLOSE_SYSTEM_DIALOGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        
        <receiver
            android:name="com.prey.events.receivers.EventReceiver"  >
            <intent-filter android:priority="20000">
                
                <!-- TURNED ON/OFF --> 
                
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                 
                <!-- BATTERY LOW -->   
 
                <action android:name="android.intent.action.BATTERY_LOW" />
                <!-- <action android:name="android.intent.action.BATTERY_OKAY" />-->
                
                <!-- WIFI CHANGED -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />

                <!-- SIM CHANGED AND  BOOT COMPLETED -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />          
                
                <!-- AIRPLANE -->
        		<action android:name="android.intent.action.AIRPLANE_MODE" />
    			
            </intent-filter>
        </receiver>
        
        <receiver
            android:name="com.prey.receivers.AlarmReportReceiver"
            > 
        </receiver>
        <receiver
            android:name="com.prey.receivers.AlarmScheduledReceiver"
            > 
        </receiver>
        <!--
        <receiver android:name="com.prey.install.PreyInstallRemoteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.DATA_SMS_RECEIVED" />
               
                <action android:name="android.net.wifi.NETWORK_IDS_CHANGED" />
                <action android:name="android.net.wifi.RSSI_CHANGED" />
                <action android:name="android.net.wifi.SCAN_RESULTS" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE" />
                <action android:name="android.net.wifi.supplicant.STATE_CHANGE" />
                <action android:name="android.provider.Telephony.SIM_FULL" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
               
                <action android:name="android.app.action.ACTION_PASSWORD_CHANGED" />
                <action android:name="android.app.action.ACTION_PASSWORD_FAILED" />
                <action android:name="android.app.action.ACTION_PASSWORD_SUCCEEDED" />
 
            </intent-filter>
        </receiver>
        -->
        
        <!-- Only C2DM servers can send messages for the app. If permission is not set - any other app can generate it -->
        <receiver android:name="com.prey.receivers.C2DMReceiver" android:permission="com.google.android.c2dm.permission.SEND" >

            <!-- Receive the actual message -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.prey" />
            </intent-filter>
            <!-- Receive the registration id -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.prey" />
            </intent-filter>
        </receiver>
        
         <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    </application>

</manifest>
