<h1>Sign up and we'll get you going.</h1>

<form id="signup" class="container pure-form pure-form-stacked">

  <fieldset>
    <input name="name" type="text" placeholder="Name" />
    <input name="email" type="email" placeholder="Email" />
    <input name="password" type="password" placeholder="Password" />

    <input id="submit" type="submit" class="pure-button notice" value="Sign in" />

    <p class="small">
      By signing up, you agree to our <a target="_blank" href="https://preyproject.com/terms">Terms of Service</a> and <a target="_blank" href="https://preyproject.com/privacy">Privacy Policy</a>.
    </p>
  </fieldset>

</form>

<p class="bottom switch">
  <a class="toggle" href="#page-5">I already have an account.</a>
</p>
