<h1>Welcome back, master.</h1>

<form id="login" class="container pure-form pure-form-stacked">

  <fieldset>
    <input name="email" type="email" placeholder="Email" value="testforkhq@gmail.com"/>
    <input name="password" type="password" placeholder="Password" value="prueba"/>

    <input id="submit" type="submit" class="pure-button notice" value="Log in" />

    <p class="small">
      <a href="http://beta.preyproject.com:8888/forgot">Forgot your password?</a>
    </p>
  </fieldset>

</form>

<p class="bottom switch">
  <a class="toggle" href="#page-4">Sign up for a new account.</a>
</p>
