<h1>Welcome back, master.</h1>

<form id="login" class="container pure-form pure-form-stacked">

  <fieldset>
    <input id="emailLogin" name="email" type="email" placeholder="Email" value="testforkhq@gmail.com" />
    <input id="passwordLogin" name="password" type="password" placeholder="Password" value="prueba"/>

    <input id="submitLogin" type="submit" class="pure-button notice" value="Log in" />

    <p class="small">
      <a href="http://beta.preyproject.com/forgot">Forgot your password?</a>
    </p>
  </fieldset>

</form>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<p>
  <a class="toggle" href="#page-4">Sign up for a new account.</a>
</p>
