@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-LightItalic-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Italic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
/*
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Semibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
*/

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}




@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Hai-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-HaiIta-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Lig-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-LigIta-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;

}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Reg-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-RegIta-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Bol-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-BolIta-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/*

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Bla-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-BlaIta-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

*/
