<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prey"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly"
  >

    <uses-feature android:name="android.hardware.location.network" android:required="true" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.location" android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>

    <uses-feature android:name="android.hardware.microphone" android:required="false" />

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACTION_SHUTDOWN" />

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <!-- This app has permission to register and receive message -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="com.prey.permission.C2D_MESSAGE" android:protectionLevel="signature" />

    <uses-permission android:name="com.prey.permission.C2D_MESSAGE" />

    <!-- This app has permission to camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.USES_POLICY_FORCE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.prey.kotlin.PreyApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl = "true"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.AppCompat" >

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data android:name="android.content.APP_RESTRICTIONS"
            android:resource="@xml/app_restrictions" />

        <!-- Exported added for android 12 -->
        <activity
            android:name="com.prey.activities.kotlin.LoginActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.prey.activities.kotlin.CheckPasswordActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:configChanges="keyboardHidden|orientation"
            />
        <activity
            android:name="com.prey.activities.kotlin.CheckPasswordHtmlActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:configChanges="keyboardHidden|orientation"
            />
        <activity
            android:name="com.prey.activities.kotlin.ChromeActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:configChanges="keyboardHidden|orientation"
            />
        <activity
            android:name="com.prey.activities.kotlin.FeedbackActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:configChanges="keyboardHidden|orientation"
            />
        <activity
            android:name="com.prey.activities.kotlin.OnboardingActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:configChanges="keyboardHidden|orientation"
            />
        <activity
            android:name="com.prey.activities.kotlin.PasswordActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:configChanges="keyboardHidden|orientation"
            />
        <activity
            android:name="com.prey.activities.kotlin.PreyConfigurationActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:configChanges="keyboardHidden|orientation"
            />
        <activity
            android:name="com.prey.activities.kotlin.PrivacyActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:configChanges="keyboardHidden|orientation"
            />
        <activity
            android:name="com.prey.activities.kotlin.SignInActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:configChanges="keyboardHidden|orientation"
            />
        <activity
            android:name="com.prey.activities.kotlin.SignUpActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:configChanges="keyboardHidden|orientation"
            />
        <activity
            android:name="com.prey.activities.kotlin.SplashBatchActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:configChanges="keyboardHidden|orientation"
            />

        <activity
            android:name="com.prey.activities.kotlin.PopUpAlertActivity"
            android:clearTaskOnLaunch="true"
            android:noHistory = "true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask" />


        <!-- Exported added for android 12 -->
        <receiver
            android:name="com.prey.receivers.kotlin.PreyBootController"
            android:enabled="true"
            android:exported="true"
            android:label="PreyBootController" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Exported added for android 12 -->
        <receiver
            android:name="com.prey.events.receivers.kotlin.EventReceiver"
            android:exported="true"
            >
            <intent-filter android:priority="20000">

                <!-- TURNED ON/OFF -->

                <action android:name="android.intent.action.ACTION_SHUTDOWN" />

                <action android:name="android.intent.action.QUICKBOOT_POWEROFF" />

                <!-- BATTERY LOW -->

                <action android:name="android.intent.action.BATTERY_LOW" />

                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />

                <!--   BOOT COMPLETED -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <action android:name="android.location.MODE_CHANGED" />

                <action android:name="android.location.PROVIDERS_CHANGED" />

                <action android:name="android.intent.action.SIM_STATE_CHANGED" />

                <action android:name="android.os.action.POWER_SAVE_MODE_CHANGED"/>

                <action android:name="android.intent.action.ACTION_REQUEST_SHUTDOWN"/>

                <action android:name="android.intent.action.USER_PRESENT"/>

            </intent-filter>

        </receiver>

        <receiver android:name="com.prey.receivers.kotlin.AlarmReportReceiver" />
        <receiver android:name="com.prey.actions.aware.kotlin.AlarmAwareReceiver" />
        <receiver android:name="com.prey.receivers.kotlin.AlarmScheduledReceiver" />
        <receiver android:name="com.prey.actions.location.daily.kotlin.AlarmLocationReceiver" />

        <receiver
            android:name="com.prey.receivers.kotlin.GeofenceReceiver"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.location.MODE_CHANGED" />
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.prey.receivers.kotlin.AwareGeofenceReceiver"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.location.MODE_CHANGED" />
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
        </receiver>

        <!-- Exported added for android 12 -->
        <receiver
            android:name="com.prey.receivers.kotlin.PreyDeviceAdmin"
            android:label="@string/device_admin_label"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/security_policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>


        <receiver android:name="com.prey.actions.alert.kotlin.AlertReceiver" />
        <receiver android:name="com.prey.actions.triggers.kotlin.TimeTriggerReceiver" />

        <!-- Services -->
        <service android:name="com.prey.services.kotlin.LocationService" />
        <service android:name="com.prey.actions.location.kotlin.LocationUpdatesService" />
        <service android:name="com.prey.services.kotlin.PreyBootService" />

        <service android:name="com.prey.beta.services.kotlin.PreyBetaRunnerService" />
        <service android:name="com.prey.actions.report.kotlin.ReportService" />
        <service android:name="com.prey.actions.geofences.kotlin.GeofenceIntentService" />
        <service android:name="com.prey.actions.aware.kotlin.AwareIntentService" />
        <service android:name="com.prey.actions.fileretrieval.kotlin.FileretrievalService" />
        <service android:name="com.prey.services.kotlin.PreyLockService" />
        <service android:name="com.prey.services.kotlin.PreyLockHtmlService" />
        <service android:name="com.prey.services.kotlin.CheckLockActivated" />
        <service android:name="com.prey.services.kotlin.PreyOverlayService" />


        <service android:name="com.prey.services.kotlin.PreyNotificationForeGroundService" />



        <service android:name="com.prey.services.kotlin.ActivityIntentService" />

        <receiver android:name="com.prey.receivers.kotlin.AlarmDisablePowerReceiver" />

        <!-- Exported added for android 12 -->
        <receiver
            android:name="com.prey.receivers.kotlin.PreyDisablePowerOptionsReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:priority="20000">
                <action android:name="android.intent.action.CLOSE_SYSTEM_DIALOGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!--
            BroadcastReceiver that listens for changes in application restrictions.
        -->
        <receiver
            android:name="com.prey.receivers.kotlin.RestrictionsReceiver"
            android:enabled="true"
            android:exported="true" >
            <!--
                Intent filter that specifies the action this receiver is interested in.
                In this case, it's the APPLICATION_RESTRICTIONS_CHANGED action, which
                is broadcast when the application restrictions have changed.
            -->
            <intent-filter>
                <action android:name="android.content.action.APPLICATION_RESTRICTIONS_CHANGED"/>
            </intent-filter>
        </receiver>

        <service android:name="com.prey.services.kotlin.PreyDisablePowerOptionsService" />
        <service android:name="com.prey.services.kotlin.PreySecureService" />

        <!-- Exported added for android 12 -->
        <!-- [START firebase_service] -->
        <service
            android:name="com.prey.services.kotlin.MyFirebaseMessagingService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->

        <service android:name="com.prey.services.kotlin.PreyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

        <service android:name="com.prey.services.kotlin.AwareJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>



        <service android:name="com.prey.services.kotlin.ReportJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

        <service android:name="com.prey.services.kotlin.PreyAccessibilityService" />
        <service android:name="com.prey.services.kotlin.PreyStorageService" />
        <service android:name="com.prey.services.kotlin.PreyPermissionService" />
        <service android:name="com.prey.services.kotlin.PreyCloseNotificationService" />

        <!-- Exported added for android 12 -->
        <service
            android:name="com.prey.services.kotlin.AppAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibilityservice"/>
        </service>

    </application>

</manifest>
