@import "https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700";

.btn {
  display: inline-block;
  padding: 0.7em 1em;
  color: #444;
  line-height: 1;
  border: 1px solid rgba(0,0,0,0.3);
  margin: 3px 0;
  background: #e6e6e6;
  background: #d9d9d9 none;
  background-size: 100% 100%;
  background: none,-webkit-linear-gradient(top,#e6e6e6,#d9d9d9);
  background: none,-webkit-linear-gradient(270deg,#e6e6e6,#d9d9d9);
  background: none,linear-gradient(180deg,#e6e6e6,#d9d9d9);
  text-shadow: 0 1px 0 rgba(255,255,255,0.3);
  border-radius: 0.2em;
  box-shadow: 0 1px 0 rgba(255,255,255,0.40),0 1px 0 rgba(255,255,255,0.40) inset;
  font-weight: 300
}

.btn:hover {
  background: #cdcdcd;
  background: #e6e6e6 none;
  background-size: 100% 100%;
  background: none,-webkit-linear-gradient(top,#cdcdcd,#e6e6e6);
  background: none,-webkit-linear-gradient(270deg,#cdcdcd,#e6e6e6);
  background: none,linear-gradient(180deg,#cdcdcd,#e6e6e6);
  box-shadow: 0 1px 0 rgba(255,255,255,0.40),0 2px 5px rgba(32,32,32,0.20) inset;
  color: #444;
  text-decoration: none
}

h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,img,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td,figure {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
  text-align: left
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

ol,ul {
  list-style: none
}

q:before,q:after,blockquote:before,blockquote:after {
  content: ""
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {
  display: block
}

audio,canvas,video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden] {
  display: none
}

*,*:before,*:after {
  box-sizing: inherit
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0
}

body {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.2;
  font-family: "Titillium Web",sans-serif;
  color: #3c3b3b;
  margin: 0;
  padding: 0;
  font-smooth: always
}

a {
  border: none;
  color: #3578bb;
  text-decoration: none;
  text-transform: none
}

a img {
  border: none;
  cursor: pointer;
  outline: none
}

a:active,a:hover,a:visited {
  cursor: pointer;
  outline: none
}

a:hover {
  color: #2a5e93;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s
}

blockquote {
  line-height: 1.5;
  margin: 1.5em 0.5 2em 1.5em;
  padding: 0.5em 1em
}

mark {
  background: #FFFCE1;
  padding: 0 5px
}

p {
  font-weight: normal;
  margin-bottom: 1em;
  font-size: 1.6rem;
  line-height: 1.2
}

pre {
  font-family: "MagdaCleanMono";
  line-height: 1.2;
  font-size: 12px;
  font-size: 1.2rem;
  margin: 0;
  padding: 1.3em;
  font-weight: 300;
  background: #383A3F;
  color: #99D2F3;
  overflow: auto
}

pre code {
  background: transparent;
  padding: 0
}

hr {
  background: #898685;
  color: #898685;
  border: none;
  clear: both;
  float: none;
  height: 1px;
  margin: 0 0 1.45em;
  width: 100%
}

br {
  margin: 0 0 1.45em;
  width: 100%;
  height: 1px;
  float: none;
  overflow: hidden;
  clear: both
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin: 0 0 0.2em 0;
  font-family: "Avenir Next LT Pro",sans-serif;
  font-weight: bold
}

h1 {
  font-size: 30px;
  font-size: 3rem
}

h2 {
  font-size: 28px;
  font-size: 2.8rem
}

h3 {
  font-size: 25px;
  font-size: 2.5rem
}

h4 {
  font-size: 21px;
  font-size: 2.1rem
}

h5 {
  font-size: 18px;
  font-size: 1.8rem
}

h6 {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: normal
}

abbr {
  border-bottom: 1px dotted #898685;
  font-style: italic
}

code {
  display: inline-block;
  padding: 0.4rem 0.5rem;
  font-family: "MagdaCleanMono";
  background: #e8e6e5;
  font-size: 90%
}

del {
  text-decoration: line-through
}

em {
  font-style: italic;
  font-weight: normal
}

small {
  font-size: 75%
}

strong {
  font-weight: bold
}

ul {
  list-style-position: inside;
  list-style-type: disc;
  margin: 0 1.5em 1.5em 0
}

ul ul {
  list-style-type: square
}

ul ul ul {
  list-style-type: circle
}

ul li {
  margin: 0 0 0.5em 0.85em
}

ul li ul {
  margin: 0 1.5em 0 0
}

ol {
  list-style-position: inside;
  list-style-type: decimal;
  margin: 1.0em 0.5em 0.5em 0.5em
}

ol li {
  margin: 0em 0.5em 0.5em 0.5em
}

ol li ul {
  margin: 0 1.5em 0 0
}

li,label {
  font-size: 1.6rem;
  line-height: 1.2
}

li ol li,li ul li {
  font-size: 1.6rem;
  line-height: 1.2
}

dl {
  margin: 0 0 1.5em 0
}

dl dt {
  margin: 0 0 0 10px;
  padding-bottom: 5px
}

dl dd {
  font-size: 1.6rem;
  line-height: 1.2;
  margin: 0 0 0 20px;
  padding-bottom: 5px
}

input,select,textarea {
  border: 1px solid #898685;
  display: block;
  padding: 1rem;
  font-family: "Titillium Web",sans-serif
}

select {
  padding: 0.9rem
}

input:focus,select:focus,textarea:focus {
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  border: 1px solid #212120;
  outline: none
}

input[type="checkbox"],input[type="radio"] {
  margin: 1rem
}

label {
  font-size: 1.6rem;
  font-size: 13px;
  font-size: 1.3rem;
  text-transform: uppercase;
  line-height: 1.2;
  display: block;
  cursor: pointer;
  padding: 1rem 0 0.2rem;
  letter-spacing: 0.05rem
}

label input {
  display: inline-block
}

input,textarea,select {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.2
}

.form {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column
}

.form li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

.form label {
  overflow: hidden;
  -webkit-box-flex: 1 1 auto;
  -ms-box-flex: 1 1 auto;
  box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 30%
}

.form input,.form select,.form textarea {
  -webkit-box-flex: 1 1 auto;
  -ms-box-flex: 1 1 auto;
  box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 70%
}

.form.tar label {
  text-align: right;
  padding-right: 0.5rem
}

.form li[data-span="1"] {
  -webkit-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.form li[data-span="2"] {
  -webkit-box-flex: 2;
  -ms-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  flex: 2
}

.form li[data-span="3"] {
  -webkit-box-flex: 3;
  -ms-box-flex: 3;
  box-flex: 3;
  -webkit-flex: 3;
  -moz-flex: 3;
  -ms-flex: 3;
  flex: 3
}

.form input[type="checkbox"],.form input[type="radio"] {
  width: auto
}

.vvv li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch
}

.vvv label,.vvv input,.vvv select,.vvv textarea {
  width: auto
}

.vvv label {
  text-overflow: ellipsis;
  white-space: nowrap
}

.hvv {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

.hvv li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column wrap;
  -moz-flex-direction: column wrap;
  -ms-flex-direction: column wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column wrap;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap
}

.hvv label {
  width: 100%
}

.hvv label,.hvv input,.hvv select,.hvv textarea {
  width: 100%
}

.hii {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row
}

.hii li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row wrap;
  -moz-flex-direction: row wrap;
  -ms-flex-direction: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row wrap;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap
}

.hii label {
  padding: 0.4rem
}

.form.hii label {
  width: auto
}

@font-face {
  font-family:'Avenir Next LT Pro';font-style:normal;font-weight:normal;src:local('Avenir Next LT Pro Regular'),url('../vendor/typo/avenir/AvenirNextLTPro-Regular.woff') format('woff')
}

@font-face {
  font-family:'Avenir Next LT Pro';font-style:normal;font-weight:bold;src:local('Avenir Next LT Pro Bold'),url('../vendor/typo/avenir/AvenirNextLTPro-Bold.woff') format('woff')
}

@font-face {
  font-family:'MagdaCleanMono';src:url('../vendor/typo/magdacleanmono-bold-webfont.eot');src:url('../vendor/typo/magdacleanmono-bold-webfont.eot?#iefix') format('embedded-opentype'),url('../vendor/typo/magdacleanmono-bold-webfont.woff2') format('woff2'),url('../vendor/typo/magdacleanmono-bold-webfont.woff') format('woff'),url('../vendor/typo/magdacleanmono-bold-webfont.ttf') format('truetype'),url('../vendor/typo/magdacleanmono-bold-webfont.svg#magdacleanmonobold') format('svg');font-weight:bold;font-style:normal
}

@font-face {
  font-family:'MagdaCleanMono';src:url('../vendor/typo/magdacleanmono-regular-webfont.eot');src:url('../vendor/typo/magdacleanmono-regular-webfont.eot?#iefix') format('embedded-opentype'),url('../vendor/typo/magdacleanmono-regular-webfont.woff2') format('woff2'),url('../vendor/typo/magdacleanmono-regular-webfont.woff') format('woff'),url('../vendor/typo/magdacleanmono-regular-webfont.ttf') format('truetype'),url('../vendor/typo/magdacleanmono-regular-webfont.svg#magdacleanmonoregular') format('svg');font-weight:normal;font-style:normal
}

.m {
  display: block
}

.d {
  display: none
}

.hidden {
  display: none
}

html,body {
  height: 100%
}

body {
  background: #141824 none;
  background-size: 100% 100%;
  background: none,-webkit-linear-gradient(top,#1e2938,#141824);
  background: none,-webkit-linear-gradient(270deg,#1e2938,#141824);
  background: none,linear-gradient(180deg,#1e2938,#141824);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Titillium Web",sans-serif;
  margin: 0;
  padding: 0
}

h1,h2,h3,h4,h5 {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1
}

h1 small,h2 small,h3 small,h4 small,h5 small {
  padding: 0;
  color: #efeae8;
  font-size: 14px;
  font-size: 1.4rem;
  background: transparent;
  display: block;
  font-weight: 300;
  padding: 3px 1px
}

h2 {
  font-size: 16px;
  font-size: 1.6rem
}

a {
  outline: none;
  text-decoration: none
}

a:hover {
  color: #f79749
}

code {
  background: transparent;
  font-family: "MagdaCleanMono";
  padding: 0;
  font-size: 15px;
  font-size: 1.5rem
}

.logo {
  position: relative;
  display: block;
  margin: 0;
  width: 100px;
  z-index: 1000
}

.logo img {
  max-width: 100%
}

.logo .slogan {
  position: absolute;
  bottom: 0;
  right: 0;
  background: transparent;
  padding: 0;
  text-transform: uppercase;
  font-family: "MagdaCleanMono"
}

.logo.iso {
  max-width: 150px;
  margin: 20px auto
}

.ac {
  position: absolute;
  right: 20px;
  display: inline-block;
  padding: 7px 5px;
  border: 1px solid #1e2938;
  color: #1e2938
}

.ac:hover {
  color: #efeae8;
  background: #1e2938
}

#content {
  padding-bottom: 60px;
  position: relative
}

#content h1 {
  font-size: 50px;
  font-size: 5rem
}

#content p {
  max-width: 620px;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5
}

#content img {
  max-width: 100%;
  height: auto
}

#content .aligncenter {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%)
}

#content p[align],#content div[align] {
  font-size: 13px;
  font-size: 1.3rem;
  font-style: italic;
  color: #999
}

#content p,#content li {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #1e2938
}

#content p a {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEU4ODiyn42XAAAAAXRSTlNwEOOpWgAAAApJREFUCB1jYAAAAAIAAc/INeUAAAAASUVORK5CYII=") repeat-x left 2rem;
  background-size: 1px 1px;
  text-shadow: 1px 0 0 #efeae8,2px 0 0 #efeae8,-1px 0 0 #efeae8,-2px 0 0 #efeae8
}

#content p[style] {
  text-align: left!important
}

#content object,#content embed,#content iframe[src*='player.vimeo.com'],#content iframe {
  width: 100%!important
}

#content ol,#content ul {
  margin: 1.5em 0.5em
}

#content .btn {
  margin-bottom: 30px;
  display: inline-block
}

#content blockquote {
  position: relative;
  font-weight: 300;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
  padding: 2px 10px 10px 30px;
  margin: 10px
}

#content blockquote p {
  padding: 5px;
  margin: 5px;
  font-size: 16px;
  font-size: 1.6rem
}

#content table {
  font-size: 80%;
  margin: 30px 0
}

#content table tr:nth-child(odd) {
  background: rgba(0,0,0,0.1)
}

#content table tr:hover {
  background: rgba(43,43,43,0.2)!important
}

#content table th {
  background: rgba(43,43,43,0.5);
  color: #efeae8;
  padding: 10px
}

#content table td {
  border-bottom: 1px solid rgba(43,43,43,0.2);
  padding: 10px 10px!important
}

#content table td strong {
  text-align: left
}

#content figure {
  position: relative
}

#content .rights {
  font-size: 12px;
  font-size: 1.2rem;
  text-shadow: 0 1px 3px rgba(0,0,0,0.4);
  margin: 0;
  border: none;
  color: #efeae8;
  width: 100%;
  background: rgba(0,0,0,0.6);
  padding: 5px;
  right: auto;
  left: 0;
  bottom: 13px;
  width: auto
}

#content .caption {
  color: rgba(0,0,0,0.6);
  font-size: 12px;
  font-size: 1.2rem;
  font-style: italic;
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  width: 100%
}

@media (min-width:940px) {
  .ac {
    display: none
  }

  #wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    height: 100%
  }

  #wrap .inner {
    padding: 30px 10px;
    height: 100%
  }

  #wrap #main {
    position: relative;
    -webkit-box-flex: 0 0 300px;
    -ms-box-flex: 0 0 300px;
    box-flex: 0 0 300px;
    -webkit-flex: 0 0 300px;
    -moz-flex: 0 0 300px;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px
  }

  #wrap #main .inner {
    position: fixed
  }

  #wrap #central {
    position: relative;
    -webkit-box-flex: 1 1 auto;
    -ms-box-flex: 1 1 auto;
    box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
  }

  #wrap #actions {
    position: relative;
    -webkit-box-flex: 0 0 300px;
    -ms-box-flex: 0 0 300px;
    box-flex: 0 0 300px;
    -webkit-flex: 0 0 300px;
    -moz-flex: 0 0 300px;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px
  }

  #wrap #actions .inner {
    display: none;
    width: 300px;
    position: fixed;
    z-index: 10000
  }

  .colophon {
    position: absolute;
    bottom: 5%;
    left: 10px
  }

  .colophon small {
    font-family: "MagdaCleanMono";
    font-size: 12px!important;
    font-size: 1.2rem!important;
    line-height: 1;
    max-width: 150px;
    display: block
  }
}

.glitch {
  color: #1e2938;
  font-size: 40px;
  font-size: 4rem;
  position: relative;
  right: 20px;
  margin: 0 auto;
  font-family: "MagdaCleanMono"
}

.glitch .hidden {
  opacity: 0
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 #f79749;
  top: 0;
  color: #425a7a;
  background: #F0EFED;
  overflow: hidden;
  clip: rect(0,900px,0,0);
  -webkit-animation: noise-anim 2s infinite linear alternate-reverse;
  animation: noise-anim 2s infinite linear alternate-reverse
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 #3578bb;
  top: 0;
  color: ligthen(#1e2938,40);
  background: #F0EFED;
  overflow: hidden;
  clip: rect(0,900px,0,0);
  -webkit-animation: noise-anim-2 3s infinite linear alternate-reverse;
  animation: noise-anim-2 3s infinite linear alternate-reverse
}

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(45px,9999px,32px,0)
  }

  5% {
    clip: rect(55px,9999px,19px,0)
  }

  10% {
    clip: rect(53px,9999px,33px,0)
  }

  15% {
    clip: rect(36px,9999px,69px,0)
  }

  20% {
    clip: rect(36px,9999px,44px,0)
  }

  25% {
    clip: rect(49px,9999px,30px,0)
  }

  30% {
    clip: rect(81px,9999px,31px,0)
  }

  35% {
    clip: rect(25px,9999px,61px,0)
  }

  40% {
    clip: rect(97px,9999px,71px,0)
  }

  45% {
    clip: rect(70px,9999px,74px,0)
  }

  50% {
    clip: rect(25px,9999px,86px,0)
  }

  55% {
    clip: rect(88px,9999px,97px,0)
  }

  60% {
    clip: rect(30px,9999px,79px,0)
  }

  65% {
    clip: rect(5px,9999px,72px,0)
  }

  70% {
    clip: rect(17px,9999px,28px,0)
  }

  75% {
    clip: rect(93px,9999px,89px,0)
  }

  80% {
    clip: rect(97px,9999px,41px,0)
  }

  85% {
    clip: rect(25px,9999px,86px,0)
  }

  90% {
    clip: rect(88px,9999px,40px,0)
  }

  95% {
    clip: rect(80px,9999px,6px,0)
  }

  100% {
    clip: rect(1px,9999px,87px,0)
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(45px,9999px,32px,0)
  }

  5% {
    clip: rect(55px,9999px,19px,0)
  }

  10% {
    clip: rect(53px,9999px,33px,0)
  }

  15% {
    clip: rect(36px,9999px,69px,0)
  }

  20% {
    clip: rect(36px,9999px,44px,0)
  }

  25% {
    clip: rect(49px,9999px,30px,0)
  }

  30% {
    clip: rect(81px,9999px,31px,0)
  }

  35% {
    clip: rect(25px,9999px,61px,0)
  }

  40% {
    clip: rect(97px,9999px,71px,0)
  }

  45% {
    clip: rect(70px,9999px,74px,0)
  }

  50% {
    clip: rect(25px,9999px,86px,0)
  }

  55% {
    clip: rect(88px,9999px,97px,0)
  }

  60% {
    clip: rect(30px,9999px,79px,0)
  }

  65% {
    clip: rect(5px,9999px,72px,0)
  }

  70% {
    clip: rect(17px,9999px,28px,0)
  }

  75% {
    clip: rect(93px,9999px,89px,0)
  }

  80% {
    clip: rect(97px,9999px,41px,0)
  }

  85% {
    clip: rect(25px,9999px,86px,0)
  }

  90% {
    clip: rect(88px,9999px,40px,0)
  }

  95% {
    clip: rect(80px,9999px,6px,0)
  }

  100% {
    clip: rect(1px,9999px,87px,0)
  }
}

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(8px,9999px,84px,0)
  }

  5% {
    clip: rect(34px,9999px,81px,0)
  }

  10% {
    clip: rect(53px,9999px,10px,0)
  }

  15% {
    clip: rect(28px,9999px,87px,0)
  }

  20% {
    clip: rect(73px,9999px,27px,0)
  }

  25% {
    clip: rect(78px,9999px,87px,0)
  }

  30% {
    clip: rect(80px,9999px,46px,0)
  }

  35% {
    clip: rect(49px,9999px,75px,0)
  }

  40% {
    clip: rect(5px,9999px,91px,0)
  }

  45% {
    clip: rect(70px,9999px,40px,0)
  }

  50% {
    clip: rect(3px,9999px,31px,0)
  }

  55% {
    clip: rect(95px,9999px,90px,0)
  }

  60% {
    clip: rect(100px,9999px,48px,0)
  }

  65% {
    clip: rect(76px,9999px,17px,0)
  }

  70% {
    clip: rect(41px,9999px,21px,0)
  }

  75% {
    clip: rect(44px,9999px,42px,0)
  }

  80% {
    clip: rect(59px,9999px,84px,0)
  }

  85% {
    clip: rect(57px,9999px,100px,0)
  }

  90% {
    clip: rect(76px,9999px,39px,0)
  }

  95% {
    clip: rect(67px,9999px,11px,0)
  }

  100% {
    clip: rect(57px,9999px,16px,0)
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(8px,9999px,84px,0)
  }

  5% {
    clip: rect(34px,9999px,81px,0)
  }

  10% {
    clip: rect(53px,9999px,10px,0)
  }

  15% {
    clip: rect(28px,9999px,87px,0)
  }

  20% {
    clip: rect(73px,9999px,27px,0)
  }

  25% {
    clip: rect(78px,9999px,87px,0)
  }

  30% {
    clip: rect(80px,9999px,46px,0)
  }

  35% {
    clip: rect(49px,9999px,75px,0)
  }

  40% {
    clip: rect(5px,9999px,91px,0)
  }

  45% {
    clip: rect(70px,9999px,40px,0)
  }

  50% {
    clip: rect(3px,9999px,31px,0)
  }

  55% {
    clip: rect(95px,9999px,90px,0)
  }

  60% {
    clip: rect(100px,9999px,48px,0)
  }

  65% {
    clip: rect(76px,9999px,17px,0)
  }

  70% {
    clip: rect(41px,9999px,21px,0)
  }

  75% {
    clip: rect(44px,9999px,42px,0)
  }

  80% {
    clip: rect(59px,9999px,84px,0)
  }

  85% {
    clip: rect(57px,9999px,100px,0)
  }

  90% {
    clip: rect(76px,9999px,39px,0)
  }

  95% {
    clip: rect(67px,9999px,11px,0)
  }

  100% {
    clip: rect(57px,9999px,16px,0)
  }
}

.step {
  position: relative;
  padding: 40px;
  margin: 20px auto;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box
}

.m-scooch {
  position: relative;
  overflow: hidden;
  -webkit-font-smoothing: antialiased
}

.m-scooch.m-left {
  text-align: left
}

.m-scooch.m-center {
  text-align: center
}

.m-scooch.m-fluid > .m-scooch-inner > * {
  width: 100%
}

.m-scooch.m-fluid.m-center > .m-scooch-inner > *:first-child {
  margin-left: 0%
}

.m-scooch.m-fluid-2 > .m-scooch-inner > * {
  width: 50%
}

.m-scooch.m-fluid-2.m-center > .m-scooch-inner > *:first-child {
  margin-left: 25%
}

.m-scooch.m-fluid-3 > .m-scooch-inner > * {
  width: 33.333%
}

.m-scooch.m-fluid-3.m-center > .m-scooch-inner > *:first-child {
  margin-left: 33.333%
}

.m-scooch.m-fluid-4 > .m-scooch-inner > * {
  width: 25%
}

.m-scooch.m-fluid-4.m-center > .m-scooch-inner > *:first-child {
  margin-left: 37.5%
}

.m-scooch.m-fluid-5 > .m-scooch-inner > * {
  width: 20%
}

.m-scooch.m-fluid-5.m-center > .m-scooch-inner > *:first-child {
  margin-left: 40%
}

.m-scooch.m-fluid-6 > .m-scooch-inner > * {
  width: 16.667%
}

.m-scooch.m-fluid-6.m-center > .m-scooch-inner > *:first-child {
  margin-left: 41.667%
}

.m-scooch img {
  -ms-interpolation-mode: bicubic
}

.m-scooch .m-item {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0)
}

.m-scooch-inner {
  position: relative;
  white-space: nowrap;
  text-align: left;
  font-size: 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transition-timing-function: cubic-bezier(0.33,0.66,0.66,1);
  transition-timing-function: cubic-bezier(0.33,0.66,0.66,1);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s
}

.m-scooch-inner > * {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  font-size: 16px
}

.m-fluid > .m-scooch-inner > * {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box
}

.m-center:not(.m-fluid) > .m-scooch-inner {
  display: inline-block;
  margin-right: -20000px!important;
  margin-left: 0!important
}

.m-center:not(.m-fluid) > .m-scooch-inner > * {
  position: relative;
  left: -20000px
}

.m-center:not(.m-fluid) > .m-scooch-inner > *:first-child {
  float: left;
  margin-right: 20000px;
  left: 0
}

.m-center:not(.m-fluid) > .m-scooch-inner > *:first-child:last-child {
  margin-right: 0
}

.m-center:not(.m-fluid) > .m-scooch-inner > *:last-child {
  margin-right: -30000px
}

.m-scooch-controls {
  padding-top: 10px;
  text-align: center
}

.m-scooch-controls a {
  padding: 5px;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: -moz-none;
  user-drag: none
}

.m-scooch-bulleted a {
  line-height: 0;
  text-decoration: none;
  text-indent: -999px;
  overflow: hidden;
  display: inline-block;
  padding: 6px;
  width: 0;
  height: 0;
  margin: 0 3px;
  color: #333;
  background-color: rgba(255,255,255,0.3);
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
  box-shadow: inset rgba(0,0,0,0.25) 0 1px 2px;
  border-radius: 6px
}

.m-scooch-bulleted a:hover,.m-scooch-bulleted a:focus {
  text-decoration: none;
  background-color: rgba(255,255,255,0.6)
}

.m-scooch-bulleted a.m-active {
  background-color: #fff;
  box-shadow: rgba(0,0,0,0.25) 0 1px 2px
}

.m-scooch-pagination {
  padding-top: 10px
}

.m-scooch-pagination a {
  text-decoration: none;
  display: inline-block;
  padding: 3px 10px;
  margin: 1px 0;
  color: #333;
  background-color: rgba(255,255,255,0.3);
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
  border-radius: 2px
}

.m-scooch-pagination a:hover,.m-scooch-pagination a:focus {
  text-decoration: none;
  background-color: rgba(255,255,255,0.6)
}

.m-scooch-pagination a.m-active {
  background-color: #fff
}

.m-scooch-hud {
  padding-top: 0
}

.m-scooch-hud a {
  z-index: 2;
  opacity: 0;
  display: block;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 0;
  padding: 0;
  text-decoration: none;
  text-indent: -999px;
  overflow: hidden;
  color: rgba(255,255,255,0.8);
  background: rgba(0,0,0,0.8);
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
  border-radius: 25px
}

.m-scooch:hover .m-scooch-hud a {
  opacity: 0.3
}

.m-scooch .m-scooch-hud a:hover,.m-scooch .m-scooch-hud a:focus {
  opacity: 1
}

.m-scooch-hud a:after {
  color: rgba(255,255,255,0.85);
  content: "\25c0";
  font-size: 25px;
  font-weight: bold;
  text-indent: 0;
  text-align: center;
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 47px;
  height: 50px;
  z-index: 9
}

.m-scooch-hud .m-scooch-prev {
  left: 10px
}

.m-scooch-hud .m-scooch-next {
  right: 10px
}

.m-scooch-hud .m-scooch-next:after {
  left: auto;
  right: 0;
  content: "\25b6"
}

.m-caption {
  margin: 0;
  padding: 10px;
  height: auto;
  text-align: center
}

.m-scaled .m-item {
  opacity: 0.7;
  -webkit-backface-visibility: hidden;
  -webkit-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
  -webkit-transition: -webkit-transform cubic-bezier(0.33,0.66,0.66,1) 0.25s,opacity ease-out 0.25s;
  -webkit-transition-timing-function: transform cubic-bezier(0.33,0.66,0.66,1) 0.25s,opacity ease-out 0.25s;
  transition-timing-function: transform cubic-bezier(0.33,0.66,0.66,1) 0.25s,opacity ease-out 0.25s
}

.m-scaled .m-active {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1)
}

.m-fluid .m-item {
  margin-right: 20px
}

.m-scooch-photos {
  margin: 0 -10px;
  padding: 0 10px
}

.m-scooch-photos .m-item > img {
  margin: 0;
  padding: 0;
  max-width: none;
  width: 100%;
  height: auto;
  -o-box-shadow: rgba(0,0,0,0.5) 0 5px 10px;
  -ms-box-shadow: rgba(0,0,0,0.5) 0 5px 10px;
  box-shadow: rgba(0,0,0,0.5) 0 5px 10px
}

.m-scooch-photos .m-caption {
  background: rgba(0,0,0,0.7);
  bottom: 0;
  position: absolute;
  z-index: 9;
  width: 100%;
  box-sizing: border-box
}

.m-card-dark,.m-card-light {
  padding: 20px;
  border-radius: 6px;
  -o-box-shadow: rgba(0,0,0,0.5) 0 5px 10px;
  -ms-box-shadow: rgba(0,0,0,0.5) 0 5px 10px;
  box-shadow: rgba(0,0,0,0.5) 0 5px 10px
}

.m-card-dark {
  background: rgba(0,0,0,0.5);
  color: #FFF
}

.m-card-light {
  background: rgba(255,255,255,0.9);
  color: #000
}

.m-card-dark .m-caption,.m-card-light .m-caption {
  margin: 0;
  padding: 10px 0 0 0
}

.m-fade-out {
  -webkit-mask-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0%,#000 5%,#000 95%,rgba(0,0,0,0) 100%)
}

.slider,.m-scooch-inner,.m-item {
  height: 100%
}

.m-item {
  padding: 20px
}

.m-item input {
  margin: 5px 0;
  border: none;
  background: rgba(255,255,255,0.1)
}

.m-item input:focus {
  background: #F2EEEC;
  color: #1e2938
}

.m-item .flex-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-perspective: 400;
  perspective: 400
}

.m-item .start,.m-item .end {
  -webkit-box-flex: 0 0 auto;
  -ms-box-flex: 0 0 auto;
  box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}

.m-item .middle {
  -webkit-box-flex: 1 1 auto;
  -ms-box-flex: 1 1 auto;
  box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%
}

.m-item .middle .logo {
  -webkit-box-flex: 0 0 auto;
  -ms-box-flex: 0 0 auto;
  box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}

.m-item .middle p,.m-item .middle h1 {
  text-align: left
}

.m-item .start + .middle {
  margin-top: 0;
  background: transparent
}

.m-item .start + .middle p,.m-item .start + .middle h1 {
  text-align: left
}

.m-item .start h1 {
  margin-top: 30px
}

.m-item figure {
  width: 130%
}

.m-item figure img,.m-item figure * {
  max-width: 100%
}

.status-graph {
  pointer-events: none;
  position: absolute;
  left: 40%;
  -webkit-transform: translateX(-50);
  -ms-transform: translateX(-50);
  transform: translateX(-50);
  top: -20%;
  z-index: -1;
  -webkit-transition: all linear 200ms;
  transition: all linear 200ms
}

#secure,.enfasis {
  opacity: 0
}

#secure .status-text,.enfasis .status-text {
  font-family: "MagdaCleanMono";
  margin-bottom: 20px;
  color: #d19d23
}

#secure .status-text.secure-ok,.enfasis .status-text.secure-ok {
  color: #23b37f
}

#secure .why,.enfasis .why {
  color: #d19d23;
  font-size: 18px;
  font-size: 1.8rem
}

#secure.m-active,.enfasis.m-active {
  -webkit-animation: ultraslowfadein 500ms linear forwards;
  animation: ultraslowfadein 500ms linear forwards
}

#secure .on,.enfasis .on {
  opacity: 1;
  position: relative
}

#secure .off,.enfasis .off {
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%)
}

#secure.aok .status-graph,.enfasis.aok .status-graph,#secure.aok .status-text,.enfasis.aok .status-text,#secure.aok .alt,.enfasis.aok .alt {
  -webkit-transition: all linear 500ms 1200ms;
  transition: all linear 500ms 1200ms;
  opacity: 1
}

.slider {
  color: #efeae8;
  overflow: hidden
}

.frame {
  position: absolute;
  top: 49%;
  left: 50.1%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 375px
}

.frame img {
  max-width: 100%
}

.btn {
  width: 100%;
  text-align: center;
  border: none;
  text-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  background: transparent;
  color: #efeae8;
  background: #3578bb;
  border-radius: 2px;
  font-weight: normal;
  font-family: "Avenir Next LT Pro",sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 15px 17px
}

.btn:hover {
  color: #fff;
  background: #2a5e93;
  box-shadow: 0 0 0 transparent
}

.btn.onb {
  background: transparent
}

.btn.onb:hover {
  color: #f4f4f4
}

.alt {
  display: block;
  text-align: left;
  margin: 15px 0;
  font-family: "MagdaCleanMono"
}

.tour {
  z-index: 5000;
  position: absolute;
  bottom: -20px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 10px;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  background: #d19d23;
  color: #1e2938;
  display: block;
  -webkit-animation: showTour 500ms 4500ms ease forwards;
  animation: showTour 500ms 4500ms ease forwards
}

.tour a {
  color: #1e2938
}

.tour.removeTourBtn {
  -webkit-animation: showTourClose 500ms ease forwards;
  animation: showTourClose 500ms ease forwards
}

.tour .close {
  width: 24px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer
}

.tour .close svg {
  max-width: 100%
}

.tour small {
  display: block
}

.tour .ico {
  width: 16px!important;
  height: 16px;
  margin-right: 5px
}

i.an {
  font-family: "Avenir Next LT Pro",sans-serif;
  font-weight: 300;
  text-transform: none;
  font-style: normal;
  font-size: 150%;
  position: relative;
  top: 1px
}

#signin,#signup {
  background: url(../images/bg-w.png) no-repeat;
  background-size: cover;
  color: #1e2938;
  -webkit-transition: all 1000ms 1000ms linear;
  transition: all 1000ms 1000ms linear;
  opacity: 0
}

#signin h1 small,#signup h1 small {
  color: #1e2938
}

#signin input,#signup input {
  width: 100%
}

#signin.m-active,#signup.m-active {
  -webkit-transition: all 1000ms 1000ms linear;
  transition: all 1000ms 1000ms linear;
  opacity: 1
}

.form label {
  text-transform: none;
  font-family: "MagdaCleanMono";
  font-size: 18px;
  font-size: 1.8rem;
  display: none
}

.form li {
  margin-bottom: 10px
}

.form input {
  font-weight: bold;
  font-size: 20px;
  font-size: 2rem;
  border: none;
  border-bottom: 1px solid #c5b3ac;
  padding: 5px;
  background: transparent
}

.form input:focus {
  border-bottom: 1px solid #3578bb;
  background: transparent
}

#ok img {
  opacity: 0;
  position: absolute;
  z-index: 5000;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s
}

#ok.done img {
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  position: relative;
  opacity: 1
}

#ok.done object {
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  position: absolute;
  opacity: 0
}

.privileges {
  margin: 30px 0
}

.switch {
  display: block;
  width: 100%;
  position: relative;
  margin: 20px 0
}

.switch img {
  max-width: 30%;
  position: absolute;
  left: 0;
  top: 0
}

.switch span {
  color: #efeae8;
  font-family: "MagdaCleanMono";
  display: block;
  text-align: right;
  padding: 15px 0
}

.fin {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}

.fin img {
  height: 70%;
  max-width: none!important;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%)
}

.onb-01 {
  background: url(../images/onb-01.jpg);
  background-size: cover
}

.onb-02 {
  background: url(../images/onb-03.jpg);
  background-size: cover
}

.onb-02 h1,.onb-02 p {
  color: #1e2938
}

.onb-03 {
  background: url(../images/shield-on.png) top center no-repeat;
  background-size: 100%
}

.onb-0alt {
  background: url(../images/onb-02.jpg) top center no-repeat;
  background-size: 100%
}

.onb-04 {
  background: url(../images/onb-05.jpg) top center no-repeat;
  background-size: cover
}

.onb-04 blockquote {
  line-height: 1;
  font-size: 20px;
  font-size: 2rem;
  margin: 0;
  padding: 0 0 15px 20px
}

.onb-04 blockquote small {
  text-align: right
}

.onb-04 small {
  margin: 5px 0;
  display: block
}

.onb-05 {
  background: url(../images/onb-06.jpg) top center no-repeat;
  background-size: cover
}

@-webkit-keyframes ultraslowfadein {
  to {
    opacity: 1
  }
}

@keyframes ultraslowfadein {
  to {
    opacity: 1
  }
}

@-webkit-keyframes showTour {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes showTour {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@-webkit-keyframes showTourClose {
  to {
    -webkit-transform: translateY(110%);
    transform: translateY(110%)
  }
}

@keyframes showTourClose {
  to {
    -webkit-transform: translateY(110%);
    transform: translateY(110%)
  }
}

.opts {
  margin: 30px 0 0;
  padding: 0;
  list-style: none
}

.opts li {
  margin: 0 0 20px;
  padding: 0;
  list-style: none
}

.opts a {
  border-left: 5px solid #53729c;
  display: block;
  padding: 5px 20px;
  font-family: "Avenir Next LT Pro",sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #dacfca;
  position: relative
}

.opts a small {
  display: block;
  color: #efeae8
}

.opts a polygon {
  stroke: #53729c
}

.opts a line {
  stroke: #53729c
}

.opts a polyline {
  opacity: 0
}

.opts a.ok {
  border-left: 5px solid #23b37f
}

.opts a.ok line {
  opacity: 0
}

.opts a.ok polygon {
  stroke: #23b37f
}

.opts a.ok polyline {
  stroke: #23b37f;
  opacity: 1
}

.opts a.nok {
  border-left: 5px solid #c6003d
}

.opts a.nok polygon {
  stroke: #c6003d
}

.opts a.nok line {
  stroke: #c6003d;
  opacity: 1
}

.opts li:nth-child(1) a {
  -webkit-transition: all cubic-bezier(0.7,0,0.3,1) 0.4s;
  transition: all cubic-bezier(0.7,0,0.3,1) 0.4s;
  -webkit-transform: translate3d(-1000px,0,0);
  transform: translate3d(-1000px,0,0)
}

.opts li:nth-child(2) a {
  -webkit-transition: all cubic-bezier(0.7,0,0.3,1) 0.6s;
  transition: all cubic-bezier(0.7,0,0.3,1) 0.6s;
  -webkit-transform: translate3d(-1000px,0,0);
  transform: translate3d(-1000px,0,0)
}

.opts li:nth-child(3) a {
  -webkit-transition: all cubic-bezier(0.7,0,0.3,1) 0.8s;
  transition: all cubic-bezier(0.7,0,0.3,1) 0.8s;
  -webkit-transform: translate3d(-1000px,0,0);
  transform: translate3d(-1000px,0,0)
}

.opts .stat {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 500
}

.opts .stat svg {
  max-width: 100%
}

.opts.menu li {
  margin: 0 0 5px
}

.opts.menu a {
  padding: 15px 25px 15px 15px;
  padding: 15px 0;
  border-left: none;
  border-radius: 3px
}

.opts.menu a.primary {
  background: #3578bb
}

.opts.menu .stat {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

.opts.menu a.ok line {
  stroke: #DACFCA;
  opacity: 1
}

.ico {
  width: 32px!important;
  height: 32px;
  float: left;
  margin-right: 10px;
  vertical-align: middle
}

.ico img {
  width: 100%
}

.m-active .opts li a {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}

#pri {
  padding: 0;
  opacity: 0
}

#pri.m-active {
  -webkit-animation: ultraslowfadein 500ms linear forwards;
  animation: ultraslowfadein 500ms linear forwards
}

#pri .demo-pri {
  width: 100%
}

#pri .demo-pri img {
  max-width: 100%
}

.close {
  position: absolute;
  top: 10px;
  right: 10px
}

.close polygon {
  fill: rgba(0,0,0,0.1)
}
