<header>
  <h1 id="html_4_first"></h1>
</header>

<article>

  <div class="flex"></div>

  <form id="login" class="container pure-form pure-form-stacked">
    <input name="email" type="email" placeholder="Email" />
    <input name="password" type="password" placeholder="Password" />
    <input id="submit" type="submit" class="pure-button notice" value="Log in" />
  </form>

  <p class="small"> <a href="http://beta.preyproject.com/forgot">Forgot your password?</a> </p>

  <div class="flex"></div>

  <div class="action"> <a class="toggle" href="#page-5">Sign up for a new account.</a> </div>

</article>

<script>
	document.getElementById("html_4_first").innerHTML=AndroidFunction.textStringXml("html_4_first");
  
</script>