<header>
  <h1 id="html_4_first"></h1>
</header>

<article>

  <div class="flex"></div>

  <form id="login" class="container pure-form pure-form-stacked">
    <input name="email" type="email" placeholder="Email" />
    <input name="password" type="password" placeholder="Password" />
    <input id="submit" type="submit" class="pure-button notice" value="Log in" />
  </form>

  <p class="small"> <a href="http://beta.preyproject.com/forgot" id="html_4_second"></a> </p>

  <div class="flex"></div>

  <div class="action"> <a class="toggle" href="#page-5" id="html_4_third"></a> </div>

</article>
  
<script>
	document.getElementById("html_4_first").innerHTML=AndroidFunction.textStringXml("html_4_first");
    document.getElementById("html_4_second").innerHTML=AndroidFunction.textStringXml("html_4_second");
    document.getElementById("html_4_third").innerHTML=AndroidFunction.textStringXml("html_4_third");
</script>