<header>
  <h1 id="html_4_first">Welcome back, master.</h1>
</header>

<article>

  <div class="flex"></div>

  <form id="login" class="container pure-form pure-form-stacked" onSubmit="return false;">
    <input name="email" type="email" placeholder="Email" />
    <input name="password" type="password" placeholder="Password" />
    <input id="submit" type="submit" class="pure-button notice" value="Log in" />
  </form>

  <p class="small"> <a href="http://beta.preyproject.com/forgot" id="html_4_second">Forgot your password?</a> </p>

  <div class="flex"></div>

  <div class="action"> <a class="toggle" href="#page-5" id="html_4_third">Sign up for a new account.</a> </div>

</article>
  
