<header>
  <h1>Sign up and we'll get you going.</h1>
</header>

<article>

  <div class="flex"></div>

  <form id="signup" class="container pure-form pure-form-stacked" onSubmit="return false;">
    <input name="name" type="text" placeholder="Name" />
    <input name="email" type="email" placeholder="Email" />
    <input name="password" type="password" placeholder="Password" />
    <input id="submit" type="submit" class="pure-button notice" value="Sign in" />
  </form>

  <p class="small">
    By signing up, you agree to our
    <a target="_blank" href="https://preyproject.com/terms">Terms of Service</a>
    and <a target="_blank" href="https://preyproject.com/privacy">Privacy Policy</a>.
  </p>

  <div class="flex"></div>

  <div class="action"> <a class="toggle" href="#page-4">I already have an account.</a> </div>

</article>
