<header>
  <h1 id="html_5_first"></h1>
</header>

<article>

  <div class="flex"></div>

  <form id="signup" class="container pure-form pure-form-stacked" onSubmit="return false;">
    <input name="name" type="text" placeholder="Name" />
    <input name="email" type="email" placeholder="Email" />
    <input name="password" type="password" placeholder="Password" />
    <input id="submit" type="submit" class="pure-button notice" value="Sign in" />
  </form>

  <p class="small" id="html_5_second"></p>

  <div class="flex"></div>

  <div class="action"> <a class="toggle" href="#page-4" id="html_5_third"></a> </div>

</article>


